.all-forms {
  width: 100%;
}

.btn-primary {
  background-color: #993300;
}

.container-fluid {
  text-align: center;
  width: 80%;
  background-color: #ffddcc;
}

.delete-input,
.one-input {
  width: 30%;
}

.clearListButton,
.showListButton {
  height: 30px;
}
footer {
  clear: both;
  align-content: center;
}

.delete-one-item,
.show-one-breed,
.show-full-list {
  float: left;
  width: 31%;
  margin-left: 10px;
  background-color: #f2ffcc;
  border-radius: 25%;
}

.details {
  color:  #6666ff;
}

h3 {
  color: #000
}

h4 {
  clear: both;
}
.hide {
  display: 0;
}

legend {
  border-bottom: 0;
}

.list {
  background-color: #ffbb99;
  border: 1px solid #000;
  display: inline-block;
  font-size: 25px;
  float: left;
  height: 300px;
  text-align: center;
  width: 100%;
}
.modal-messages,
.change-out-messages,
.sign-messages,
.add-dog-messages {
  font-size: 20px;
  color: #aa80ff;
}

.messages {
  height: 50px;
  font-size: 20px;
  color: #aa80ff;
  // width: 100%;
}

@media (max-width: 700px) {
  h1 {
    font-size: 25px;
  }
  h4 {
    display: none;
  }
  .details {
    font-size: 20px;
  }
  .delete-one-item,
  .show-one-breed,
  .show-full-list {
    float: none;
    width: 100%;
    margin: 0;
  }
  .messages {
    height: 45px;
    font-size: 15px;
    color: #aa80ff;
    // width: 100%;
  }
  .list {
    height: 250px;
    font-size: 20px;
  }
}
