.all-forms {
  width: 100%;
}

.container-fluid {
  text-align: center;
  width: 100%;
}

footer {
  clear: both;
}

.delete-one-item,
.show-one-breed,
.show-full-list {
  float: left;
  width: 30%;
}

.hide {
  display: 0;
}

legend {
  border-bottom: 0;
}

.list {
  border: 1px solid #000;
  display: inline-block;
  font-size:20px;
  float: left;
  height: 300px;
  text-align: center;
  width: 100%;
}

.messages {
  height: 40px;
  font-size: 20px;
  // width: 100%;
}
